@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('/src/css/footer.css');
@import url('/src/css/header.css');
@import url('/src/css/nav.css');
@import url('/src/css/normalize.css');
@import url('/src/css/projects.css');
@import url('/src/css/technologies.css');


:root{
  --bg-primary-color: #282828;
  --bg-secondary-color: #313136;
  --bg-third-color: #252529;
  --font-white: #fff;
  --font-white-secundary: rgba(255,255,245,.86);
  --font-white-third: rgba(235,235,245,.6);
  --pink-primary: #ff558f;
  --pink-secondary: #db2777;
  --blue-primary: #41d1ff;
  --gray-primary: rgba(82,82,89,.32);
}

html{
  scroll-behavior: smooth;
}

body{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background-color: var(--bg-primary-color);
    animation: fade-in 1s linear;
}

.container{
  padding: 4% 5%;
}

a{
  text-decoration: none;
  cursor: pointer;
  transition: color .25s;
  color: none;
}

mark{
  color: var(--pink-secondary);
}


@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

