.header{
  display: flex;
  flex-direction: column;
  padding: 10% 0 35% 0;
}

.header__logo{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.big__logo{
  max-height: 192px;
  max-width: 192px;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.2));
}

.header__content{
  flex-wrap: wrap;
}

.header__texts{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.header__title {
  margin: 0;
  font-size: 33px;
  background: linear-gradient(120deg, 
    rgb(216, 49, 130), 
    rgb(99, 50, 136), 
    rgb(65, 209, 255));
  animation: colorShift 8s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;

}


@keyframes colorShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header__subtitle{
  margin: 0;
  font-size: 30px;
  color: rgba(255,255,245,.86);
}

.header__parraph{
  color: rgba(235,235,245,.6);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.header__buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  /* padding-top: 24px; */
}

.header__buttons a{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px;
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
  width: 100px;
  height: 20px;
  transition: all 0.5s ease;
}

.header__buttons a:hover{
  transform: scale(1.1);
}

.header__buttons > a > svg {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.button__contact{
  border: 1px solid transparent;
  background-color: #ff558f;
  border-color: #ff85ae;
}

.button__contact:hover{
  background-color: #ff6f9f;
  border-color: rgba(255, 255, 255, 0.68);
}

.button__linkedin, .button__github{
  border: 1px solid transparent;
  background-color: #313136;
  border-color: rgba(82,82,89,.68);
}

.button__linkedin:hover, .button__github:hover{
  background-color: #47474e;
  border-color: #ff85ae;
}

@media screen and (min-width: 640px){

  .header{
    padding: 5% 0 7% 0;
  }

  .big__logo{
    max-height: 256px;
    max-width: 256px;
    /* max-height: 192px;
    max-width: 192px; */
  }

  .header__texts{
    font-size: 30px;
    font-weight: 600;
  }

  .header__title{
    font-size: 60px;
  }

  .header__subtitle{
    font-size: 50px;
  }

}

@media screen and (min-width: 960px) {
  .header{
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header__logo{
    order: 2;
  }

  .big__logo{
    max-height: 420px;
    max-width: 420px;
    transform: translate(-32px, -32px);
  }

  .header__content{
    order: 1;
    width: 50%;
  }

  .header__texts, .header__buttons{
    text-align: left;
    justify-content: start;
  }
}