@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #1b263b;
}

header{
    background-color: #0d1b2a;
    filter: drop-shadow(0 50px 50px rgba(0, 0, 0, 1));
}

.about-text{
  background-color: #34495E;
  filter: drop-shadow(0 50px 50px rgba(0, 0, 0, 1));
}

.no-responsive{
    transition: all 0.5s ease-in-out;
}

.navbar-shrink{
    background-color: #5f8658;
    color: #0b2545;
    transition: all 0.5s ease-in-out;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin-top: -1.5rem;
}


.desktop-menu{
  background: transparent;
}

.drop-shadow-bottom{
  filter: drop-shadow(0 10px 4px rgba(0, 0, 0, 0.25));
}

.drop-shadow-top{
  filter: drop-shadow(0 -10px 4px rgba(0, 0, 0, 0.25));
}

.fade-in-down{
  animation: fade-in-down2 1s ease;
}
@keyframes fade-in-down2 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in{
  animation: fade-in 2s ease-in;
}
@keyframes fade-in{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.bounce {
  animation: bounce 30s linear infinite;
  /* animation-duration: 100s; */
}
@keyframes bounce {
  0% {
    bottom: 0;
    transform: rotate(0deg);
  }
  50% {
    bottom: 200px;
    transform: rotate(360deg);
  }
  100% {
    bottom: 0;
    transform: rotate(720deg);
  }
}


.bounce2 {
  animation: bounce2 2s ease-in-out infinite;
  animation-duration: 100s;
}
@keyframes bounce2 {
  0%, 100% {transform: translateY(0) rotate(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateY(-200px) rotate(-360deg);}
  20%, 40%, 60%, 80% {transform: translateY(10px) rotate(360deg);}
}

.rotate{
  animation: rotate infinite linear;
  animation-duration: 20s;
}
@keyframes rotate{
  0% {
    transform: rotate(0deg); /* El elemento comienza sin rotación */
  }
  100% {
    transform: rotate(360deg); /* El elemento termina con una rotación completa de 360 grados */
  }
}

.rotate2{
  animation: rotate2 infinite linear;
  animation-duration: 20s;
}
@keyframes rotate2{
  0% {
    transform: rotate(360deg); /* El elemento comienza sin rotación */
  }
  100% {
    transform: rotate(0deg); /* El elemento termina con una rotación completa de 360 grados */
  }
}