.technologies{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px 0 10px;
  gap: 15px;
}

.technologies__card{
  background-color: #252529;
  border: 1px solid #252529;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
}

.card__images{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
  background-color: #1e1e20;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 10px;
}

.card__image{
  width: 14%;
}

.solidity{
  width: 40%;
}

.card__title{
  color: rgba(255,255,245,.86);
  text-align: center;
}

.technologies__card p{
  color: rgba(235,235,245,.6);
}

.scrum__link{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid;
  color: #fff;
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: #313136;
  border-color: rgba(82,82,89,.68);
  padding: 10px;
  transition: all 0.5s ease;
}

.scrum__link:hover{
  background-color: #47474e;
  border-color: #ff85ae;
}

.scrum__link svg{
  width: 20px;
}

@media screen and (min-width: 640px){

  .technologies{
    /* flex-wrap: wrap;
    flex-direction: row; */
  }

  .technologies__card{
    flex-basis: calc(50% - 50px);
  }


  .card__title{
    text-align: left;
  }

  .card__images{
    height: 60px;
  }
}

@media screen and (min-width: 960px) {

  .technologies {
    /* flex-wrap: wrap; */
  }
  
  .technologies__card {
    /* flex-basis: calc(30% - 30px); */
    flex-basis: auto;
  }
}

@media screen and (min-width: 1200px){
  .technologies{
    /* padding: 0 10% 0 10%; */
  }
}